+*
+!*/
+!*.php
+!*.css
+!*.html
+!*.js
.eslintrc.js
package.json
package-lock.json
node_modules/eslint-config-google/LICENSE
node_modules/eslint-config-google/README.md
node_modules/eslint-config-google/index.js
node_modules/eslint-config-google/package.json
