* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #F7F7F7;
}

/* Header Code */

#header-secondary {
    padding-top: 3.5rem;
    background-color: #4A86E8;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 2rem;
    padding: 4rem 0 2rem 0;
}

h2 {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 0 0 3.5rem 0;
}

h3 {
    font-family: Arial;
    font-size: 1.2rem;
    padding: 0.9375rem;
}

/* General Boxes */

.rows {
    margin: auto;
    padding: 0.9375rem 0.9375rem 0 0.9375rem;
    max-width: 1300px;
}

.content {
    border-radius: 0.125rem;
    overflow: hidden;
    text-align: center;
    color: black;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

#essays {
    display: flex;
    height: 36rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: hidden;
}

.locked {
    overflow-y: scroll !important;
}

.tile {
    height: 8rem;
    width: 14rem;
    flex-grow: 1;
    cursor: pointer;
    margin: 0.9375rem;
    float: left;
    transition-duration: 0.1s;
    text-decoration: none;
}

.tile:hover {
    transform: scale(1.05);
}

.tile:active {
    opacity: 0.8;
}

.tile:empty {
    height: 0;
}

/* Search Box */

#search-box {
    padding: 0 0.9375rem;
    overflow: hidden;
}

#searchbar {
    margin: 0;
    margin-bottom: 0.9375rem;
    display: flex;
    width: 100%;
}

#searchinput {
    display: block;
    float: left;
    padding: 10px;
    height: 35px;
    background-color: rgb(220, 220, 220);
    border: none;
    width: 100%;
}

#searchbutton {
    cursor: pointer;
    float: left;
    background-color: rgb(220, 220, 220);
}

#searchbutton:active {
    background-color: rgb(200, 200, 200);
}

#searchbutton img {
    display: block;
    padding: 6px;
    height: 35px;
}

.button {
    display: block;
    font-size: 14px;
    color: white;
    border: none;
    text-align: center;
    margin: 0.9375rem auto;
    max-width: 100px;
    cursor: pointer;
    background-color: #4a86e8;
    transition-duration: 0.1s;
    padding: 0.625rem;
    border-radius: 2px;
}

.button:hover, .button:focus {
    background-color: dodgerblue;
}

.boxtitle {
    margin: 0.75rem 0;
}

/* Responsive Stuff */

.content::after {
    display: table;
}

[class*="col-"] {
    width: 100%;
    float: right;
    padding: 0.9375rem;
}

@media screen and (min-width: 600px) {
    .col-1 {width: 5%;}
    .col-2 {width: 10%;}
    .col-3 {width: 15%;}
    .col-4 {width: 20%;}
    .col-5 {width: 25%;}
    .col-6 {width: 30%;}
    .col-7 {width: 35%;}
    .col-8 {width: 40%;}
    .col-9 {width: 45%;}
    .col-10 {width: 50%;}
    .col-11 {width: 55%;}
    .col-12 {width: 60%;}
    .col-13 {width: 65%;}
    .col-14 {width: 70%;}
    .col-15 {width: 75%;}
    .col-16 {width: 80%;}
    .col-17 {width: 85%;}
    .col-18 {width: 90%;}
    .col-19 {width: 95%;}
    .col-20 {width: 100%;}
}