* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    background-color: #F7F7F7;
}

.outer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
}

.middle {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inner {
    display: block;
    max-width: 50rem;
    margin: 0 auto;
    overflow: hidden;
}

#loginbody h1 {
    text-align: center;
    padding: 0 0 4rem 0;
    font-size: 2rem;
}

#loginbody h2 {
    padding: 0.75rem 0;
    text-align: center;
}

#loginbody h3 {
    font-size: 1.125rem;
    text-align: center;
    padding-bottom: 0.875rem;
}

input {
    font-family: 'Nunito';
    display: block;
    font-size: 1rem;
    padding: 0.75rem;
    margin: 0.875rem 0 1.75rem 0;
    outline: none;
    width: 100%;
    border: 1px solid #999999;
    border-radius: 2px;
    transition-duration: 0.1s;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border: 1px solid #4A86E8;
}

#loginbody .button {
    border: none;
    text-align: center;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    background-color: #4A86E8;
    transition-duration: 0.1s;
}

#api {
    display: flex;
}

#google {
    margin-right: 1.75rem;
    background-image: url("../img/google.png");
    background-repeat: no-repeat;
    background-size: 2.1875rem;
    background-position: center;
}

#microsoft {
    background-image: url("../img/microsoft.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#loginbody .button:hover, #loginbody .button:focus {
    background-color: dodgerblue;
}

.error {
    font-size: 0.875rem;
    margin: 0.875rem 0 1.75rem 0;
    padding: 0.75rem;
    border: 1px solid #a94442;
    color: #a94442;
    background-color: #f2dede;
    text-align: center;
}

#logo {
    position: absolute;
    margin: 0.5rem;
    padding: 0.3125rem;
    height: 3.5em;
}

.content::after {
    display: table;
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 0.9375rem;
}

@media screen and (min-width: 600px) {
    .col-1 {width: 5%;}
    .col-2 {width: 10%;}
    .col-3 {width: 15%;}
    .col-4 {width: 20%;}
    .col-5 {width: 25%;}
    .col-6 {width: 30%;}
    .col-7 {width: 35%;}
    .col-8 {width: 40%;}
    .col-9 {width: 45%;}
    .col-10 {width: 50%;}
    .col-11 {width: 55%;}
    .col-12 {width: 60%;}
    .col-13 {width: 65%;}
    .col-14 {width: 70%;}
    .col-15 {width: 75%;}
    .col-16 {width: 80%;}
    .col-17 {width: 85%;}
    .col-18 {width: 90%;}
    .col-19 {width: 95%;}
    .col-20 {width: 100%;}
    #loginbody .col-10 {padding: 0.9375rem 3.5rem;}
}