* {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
}

a {
    text-decoration: none;
}

#nav {
    z-index: 1;
    position: fixed;
    margin: 0;
    padding: 0;
    padding-right: 1rem;
    width: 100%;
    box-shadow: 1px 0px 5px 1px #0000007a;
    background-color: #FBFBFB;
    height: 5rem;
}

#nav img {
    height: inherit;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

#nav a {
    font-family: Arial;
    float: right;
    display: block;
    background-color: #FBFBFB;
    border: none;
    font-size: 22px;
    padding: 0.75rem;
    margin: 0.75rem;
    outline: none;
    text-decoration: none;
}

#supbut {
    background-color: #4A86E8 !important;
    color: #FFFFFF;
}

#logbut {
    color: #4A86E8;
}

h1, h2 {
    display: table;
}

h1 {
    padding-top: 20rem !important;
    font-size: 5rem;
    padding-bottom: 2rem;
}

div {
    width: 50%;
    float: left;
    font-family: Arial;
}

#main{
    padding-left: 10rem;
    font-size: 4rem;
}

#gtstrt{
    display: inline-block;
    border: none;
    outline: none;
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1rem;
    background-color: #4A86E8;
    color: #FFFFFF;
}

#main {
    display: block;
}

#man {
    width: 89%;
    float: right;
    padding-right: 11rem;
    padding-top: 12rem;
} 