form {
    font-family: arial;
    padding: 5rem;
    margin: auto;
}

input[type='text'], textarea, select {
    font-family: 'Nunito';
    display: block;
    font-size: 1rem;
    width: 100%;
    padding: 0.75rem;
    margin: 0.875rem 0 1.75rem 0;
    outline: none;
    border: 1px solid #999999;
    border-radius: 2px;
    transition-duration: 0.1s;
}

#fileInputContainer {
    position: relative;
    height: 5.7rem;
}

input[type='file'] {
    display: block;
    margin: 0.875rem 0 0.75rem 0;
    position: relative;
    opacity: 0;
    width: 7rem;
    font-size: 1.1rem;
    z-index: 2;
}

button {
    background-color: #4f92ff;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    padding: 0.5em 1em 0.5em 1em;
}

button:hover {
    background-color: #6db7ff;
    transition-duration: 0.25s;
}

#fileInputContainer button {
    position: absolute;
    top: 2rem;
}

#inputFilePath {
    font-family: arial;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

@media screen and (min-width: 700px) {
    #inputFilePath {
        width: 53%;
        position: relative;
        left: 8rem;
        top: -2rem;
    }

    #fileInputContainer {
        height: 3.7rem;
    }
}

#imagePreview {
    margin-top: 1rem;
    max-width: 14rem;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: inline-block;
}

label:last-child {
    font-weight: bold;
    border: 0.05rem #4f92ff solid;
    padding: 1rem;
    width: 80%;
    background-color: #f5f4f4;
    display: block;
    padding-bottom: 1.5rem;
}

#btnSubmit {
    max-width: 470px;
}

[class*="col-"] {
    width: 100%;
    float: left;
    margin: 0.9375rem;
    margin-right: 5%;
}

@media screen and (min-width: 600px) {
    .col-1 {width: 5%;}
    .col-2 {width: 10%;}
    .col-3 {width: 15%;}
    .col-4 {width: 20%;}
    .col-5 {width: 25%;}
    .col-6 {width: 30%;}
    .col-7 {width: 35%;}
    .col-8 {width: 40%;}
    .col-9 {width: 45%;}
    .col-10 {width: 50%;}
    .col-11 {width: 55%;}
    .col-12 {width: 60%;}
    .col-13 {width: 65%;}
    .col-14 {width: 70%;}
    .col-15 {width: 75%;}
    .col-16 {width: 80%;}
    .col-17 {width: 85%;}
    .col-18 {width: 90%;}
    .col-19 {width: 95%;}
    .col-20 {width: 100%;}
}