body {
    background-color: #F7F7F7;
}

#header-main
{
    z-index: 1;
    position: fixed;
    margin: 0;
    padding: 0;
    padding-right: 2em;
    width: 100%;
    box-shadow: 1px 0px 5px 1px #0000007a;
    background-color: #FBFBFB;
}


#header-secondary {
    margin: 0;
    padding: 0;
    padding-top: 4em;
    height: 12em;
    background-color: #4A86E8;
}


h1 {
    text-align: center;
    font-family: Arial;
    color: #FFFFFF;
    font-size: 2em;
    line-height: 6em;
}


.navbar-icon {
    margin: 0;
    padding: 0.8em 2em 0.8em 0em;
    float: right;
    height: 2.4em;
    cursor: pointer;
}

.navbar-icon img {
    height: inherit
}


#logo {
    margin: 0;
    padding: 0;
    float: none;
    height: 4em;
}

#iconAvatar {
    padding: 0.4em 2em 0.4em 0em;
    height: 3.2em;
}

form { 
    margin-top: 4rem;
    text-align: center;
}


.control-group {
    display: block;
    max-width: 12rem;
    width: 12rem;
    margin: auto;
}

.control-group-file {
    text-align: center;
    display: inline-block;
    max-width: 12rem;
}

form input[type="submit"] {
    display: inline-block;
}

@media screen and (min-width:37rem) {
    .control-group:nth-child(2){
        margin-left: 12rem;
    }
    
    .control-group{
        display: inline-block;
    }
    
    form input[type="submit"] {
        margin-left: 12rem;
    }
}


.control-group label, input, select {
    display: block;
    width: 12rem;
    max-width: 12rem;
}

.control-group label, input, select, textarea {
    font-family: arial;
}

form label {
    display: block;
    text-align: left;
}


.control-group-instructions label, textarea {
    width: 100%;
    display: block;
}


section {
    max-width: 37rem;
    margin: auto;
}

section:nth-child(n+2) {
    margin-top: 1rem;
}

section:nth-child(2) {
    width: 80%;
}
