body {
    margin: 0;
    background-color: rgb(238, 238, 238);
}

#page {
    white-space: pre-wrap;
    padding: 5em;
    width: 100%;
    background-color: #FFFFFF;
    float: left;
}

#documentContainer {
    background-color: rgb(238, 238, 238);
}
