html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header-main
{
    margin: 0;
    padding: 0;
    padding-right: 2em;
}

#header-secondary {
    margin: 0;
    padding: 0;
    height: 12em;
    background-color: #4A86E8;
}

h1 {
    text-align: center;
    font-family: Arial;
    color: #FFFFFF;
    font-size: 2em;
    line-height: 6em;
}


.navbar-icon {
    margin: 0;
    padding: 0.8em 2em 0.8em 0em;
    float: right;
    height: 2.4em;
    cursor: pointer;
}

.navbar-icon img {
    height: inherit;
}

#logo {
    margin: 0;
    padding: 0;
    float: none;
    height: 4em;
}

#iconAvatar {
    padding: 0.4em 2em 0.4em 0em;
    height: 3.2em;
}
