<?php
    require_once("${_SERVER['DOCUMENT_ROOT']}/php/logincheck.php");
    require_once("checkIfEssayExists.php");
?>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Essay</title>
        <link href="/default.css" rel="stylesheet"/>
        <link href="view.css" rel="stylesheet"/>
        <script src="view.js"></script>
        <script>
                allChanges = JSON.parse('<?php require_once("getChanges.php"); ?>');
                editors = JSON.parse('<?php require_once("getEditors.php"); ?>');
                editMessages = JSON.parse('<?php require_once("getEditMessages.php"); ?>');
                document.head.removeChild(document.head.getElementsByTagName("script")[document.head.getElementsByTagName("script").length - 1]);
        </script>
    </head>
    <body onload="enableEditMode(); refreshDropDownEditors(); refreshChanges(); loadEditMessages();">
        <header id="header-main">
            <img class="navbar-icon" src="/img/logo-nb.png" id="logo"/>
            
            <a class="navbar-icon" id="iconAvatar" href="../..">
                <img src="/img/avatar.png" />
            </a>
            <a class="navbar-icon" id="iconNotification">
                <img src="/img/notification.png"/>
            </a>
            <a class="navbar-icon" id="iconUpload" href="../../upload">
                <img src="/img/upload.png"/>
            <a/>
            <a class="navbar-icon" id="iconHome" href="../../home">
                <img src="/img/home.png"/>
            </a>
        </header>
        
        <header id="header-secondary">
            <h1>View Essay</h1>
        </header>
        
        <div id="containerLeft">
            <h2 id="essayTitle">
                <?php
                    require_once("../php/dbconnect.php");
                    
                    $queryString = "SELECT title FROM Essays WHERE id=".$conn->real_escape_string($_GET["id"]);
                    $result;
                    
                    if (! ($result = $conn->query($queryString)) )
                    {
                        session_abort();
                        die($conn->error());
                    }
                    
                    echo($result->fetch_array()["title"]);
                ?>
            </h2>
            <h3 id="essayByline">By: 
                <?php
                    require_once("../php/dbconnect.php");
                    
                    $queryString = "SELECT userId FROM Essays WHERE id=".$conn->real_escape_string($_GET["id"]);
                    $result;
                    
                    if (! ($result = $conn->query($queryString)) )
                    {
                        session_abort();
                        die($conn->error());
                    }
                    
                    $queryString = "SELECT firstName, lastName FROM Users WHERE id=". $result->fetch_array()["userId"];
                    
                    if (! ($result = $conn->query($queryString)) )
                    {
                        session_abort();
                        die($conn->error());
                    }
                    
                    $assoc_array = $result->fetch_array();
                    
                    echo($assoc_array["firstName"]. " ". $assoc_array["lastName"]);
                ?>
            </h3>

            <h4>Editor: </h4><select id="dropDownEditor" onchange="refreshChanges();"></select>
            <textarea style="display: none;" id="textArea"></textarea>
            <iframe src="viewerFrame.html" name="richTextField" id="richTextField">
            </iframe>
        </div>
        
        
        <div name="hiddenPage" style="display: none; white-space: pre-wrap;" id="hiddenPage">
        <?php
        
            $filePath = $_SERVER["DOCUMENT_ROOT"] . "/files/" . $_GET["id"] . ".txt";
            
            echo readfile($filePath);
        ?>
        </div>
        
        <div id="editMessagesContainer">
            <header>
                <select id="dropDownSortEditMessages">
                    <option value="latest">Latest</option>
                    <option value="topRated">Top Rated</option>
                </select>
                <h2><?php require_once("getNumberOfEdits.php"); ?> Edits</h2>
            </header>
            
            <!--<div class="editMessage">
                <div class="editMessage-ratingSymbolContainer">
                    <div class="editMessage-btnRate editMessage-btnLike">▲</div>
                    <div class="editMessage-rating">5</div>
                    <div class="editMessage-btnRate editMessage-btnDislike">▼</div>
                </div>
                <div class="editMessage-message">Demonstrating weak critical thinking, this essay states a point of view (I do believe that any obstacle or disadvantage can be turned into something good) but offers little support beyond an insufficient discussion of the acting example given in the passage. 
                </div>
                <div class="editMessage-editorProfileBox">
                    <img class="editMessage-profilePicture" src="/img/profile/1.jpeg">
                    <div class="editMessage-editorName">Ravi Panwar</div>
                    <div class="editMessage-editorProfession">High School Student</div>
                    <div class="editMessage-approvalRating">99% Approval Rate</div>
                </div>
            </div>-->
        </div>
    </body>
</html>